@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #955df4;
    --secondary-color: #ff816c,;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 50rem;
    margin: 2rem auto;
    -webkit-box-shadow: 0px 4px 22px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 4px 22px -6px rgba(0,0,0,1);
    box-shadow: 0px 4px 22px -6px rgba(0,0,0,1);   
}

header {
    width: 100%;
    background: var(--primary-color);
    padding: 1rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

header h3 {
    color: white;
    font-size: 25px;
    margin-left: 1.5rem;
    font-weight: bolder;
    border: 1px solid rgba(255, 255, 255, 0.322);
    text-align: center;
    padding: 0.5rem;
    width: 50%;
    margin: auto;
}

