@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to left, #fea33b8f, #f5674093, #42e5f789);
    height: 800px;
    position: relative;
}

::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}


.container{
    background-color: #fea33b;
    max-width: 400px;
    height: 80vh;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgba(1, 0, 0, 0.578);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.571);
    /* margin-left: 50%; */
}

.logoEntreprise{
    width: 200px;
}

.logoEntreprise{
    background: url('/CASHMAX/LOGOS/cashmax.png') no-repeat center;
    background-size: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 130px;
    height: 55px;
    padding: 0px 30px;
    box-shadow: 2px 2px 5px black;
    border: 1px solid rgba(0, 0, 0, 0.228);
}


#e_mail, #pass_word{
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 15px;
    width: 80%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.495);
}

#pass_word:hover{
    border: none;
    border:3px solid rgb(239, 98, 239);
}

#e_mail:hover{
    border: none;
    border:3px solid rgb(239, 98, 239);
}

label{
    margin-top: 30px;
    font-weight: bolder;
}

#submit{
    width: 180px;
    background-position: right;
    font-size: 1em;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.514);
    background-position: right;
    margin: 10px;
    background-color: #F56740;
    color: rgb(255, 254, 254);
    height: 30px;
}

#connecter{
    background-color: green;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.427);
    margin: 10px;
    width: 200px;
}

#manuelle{
    background-color: rgb(66, 229, 247);
    color: rgb(1, 1, 1);
    font-weight: bolder;
    font-size: 1.5em;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.427);
    margin: 10px;
    width: 200px;

}




#google{
    background-image: linear-gradient(to right, #E54033, #F3B706, #32A352, #4181EE);
    color: rgb(1, 1, 1);
    font-weight: bolder;
    font-size: 1.5em;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.427);
    margin: 10px;
    width: 200px;

}


#facebook{
    background-color: rgb(61, 86, 175);
    color: rgb(255, 254, 254);
    font-weight: bolder;
    font-size: 1.5em;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.427);
    margin: 10px;
    width: 200px;

}


#submit:hover{
    background-color: #1bcdf5a0;
}

#connecter:hover{
    background-color: #f55c1b90;
}

#manuelle:hover{
    background-color: #f57d1ba0;
}

#google:hover{
    background-color: #1bcdf5a0;
}

#facebook:hover{
    background-color: #1bcdf5a0;
}

